<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="../styles/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>

<body>


  {{!-- body --}}
  <div id="home">
    <div class="container-fluid">


      <div class="row" id="content">

        <div class="col-sm-6">
          <!-- holds google map -->
          <div id="map"></div>
        </div>

        <div class="col-sm-6">
          <div class="container-fluid" id="crimeTable">
            <table class="table table-striped table-dark">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Date</th>
                  <th scope="col">Location</th>
                </tr>
              </thead>
              <tbody id="crimeBody">
                {{!-- dynamic db data goes here --}}
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row">
      </div>

    </div>
  </div>

  {{!-- calls google API --}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyZWe0NA_xPe4SAUPxUrsg2l8tumvLcro"
    type="text/javascript"></script>

  <script src="/js/home.js"></script>

</body>

</html>