<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home</title>
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
  <link rel="stylesheet" type="text/css" href="../styles/home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> --}}

</head>

<body>

  <div id="home">
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <h2>This is our Home Page!</h2>
          <!-- holds google map -->
          <div id="map"></div>
        </div>
      </div>
    </div>
  </div>

  {{!-- calls google API --}}
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=api_key&libraries=places&callback=initMap"
    type="text/javascript"></script>

  <script src="/js/google.js"></script>

</body>

</html>